* {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

body {
  background-color: #D8DEE9;
}

.header {
  color: #2E3440;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75em;
  padding-bottom: 2em;
}

.section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-bottom: 8em;
}

.display {
  color: #2E3440;
  background-color: #D8DEE9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  border: solid 0.125em #2E3440;
  border-radius: 0.25em;
  padding: 1.25em;
}

.calculation,
.output {
  color: #2E3440;
  font-weight: bold;
  text-align: right;
}

.calculation {
  font-size: 1em;
  height: 1.4375em;
}

.output {
  display: flex;
  justify-content: flex-end;
  font-size: 3em;
}

.reset {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 0.5em 0;
  margin-top: 0.5em;
}

.clear,
.delete {
  color: #2E3440;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.125em #2E3440;
  border-radius: 0.25em;
  padding: 1.25em;
}

.clear {
  background-color: #BF616A;
}

.clear:hover {
  background-color: #cf6b75;
}

.clear:active {
  background-color: #BF616A;
}

.delete {
  background-color: #8FBCBB;
}

.delete:hover {
  background-color: #9dc9c8;
}

.delete:active {
  background-color: #8FBCBB;
}

.buttons {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.button {
  color: #2E3440;
  background-color: #D8DEE9;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.125em #2E3440;
  border-radius: 0.25em;
  padding: 1.25em;
}

.button:hover {
  background-color: #E5E9F0;
}

.button:active {
  background-color: #D8DEE9;
}

.calculator-body {
  background-color: #4C566A;
  width: 25em;
  height: 34.375em;
  display:flex;
  flex-direction: column;
  border: solid 0.125em #2E3440;
  border-radius: 1em;
  box-shadow: 0 0 0.625em #2E3440;
  padding: 1em;
}

.footer {
  color: #E5E7EB;
  background-color: #2E3440;
  display: flex;
  font-size: 1.125em;
  padding: 0.8888888888888888em;
  margin-top: 1.7777777777777777em;
  width: 100%;
  justify-content: center;
  align-items: center;
}